<template>
  <div class="row">
    <div v-for="unit in balance" :key="unit.id" class="col-md-6 mb-3" :data-asset="unit.asset">
      <div class="card p-3">
        <h5>
          <span>{{ unit.name }}</span>
        </h5>
        <div>
          <strong>{{ unit.balance_amount }} {{ unit.asset.split('_')[0] }}</strong>
        </div>

        <div>{{ unit.balancechange >= 0 ? '+' : '-' }}{{ unit.balancechange }} {{ unit.asset }} {{ __('today') }}</div>
      </div>
    </div>

    <div v-for="unit in balance" :key="'dc' + unit.id" class="col-md-6 mb-3 ps-md-1" :data-asset="unit.asset">
      <template v-if="unit.asset != unit.show_currency.asset">
        <div class="card p-3">
          <h5>
            <span>{{ unit.show_currency.name }}</span>
          </h5>
          <div>
            <strong>{{ unit.show_balance_amount }} {{ unit.show_currency.asset.split('_')[0] }}</strong>
          </div>

          <div>{{ unit.show_balancechange >= 0 ? '+' : '-' }}{{ unit.show_balancechange }} {{ unit.show_currency.asset }} {{ __('today') }}</div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      balance: [],
    }
  },
  mounted() {
    var self = this
    self.fetch()

    setInterval(function () {
      self.fetch()
    }, 60 * 1000)
  },
  methods: {
    __(str) {
      return tt[str] || str
    },

    fetch() {
      var self = this

      $.get({ url: urls.balance, cache: false }, { _: $.now() }, function (data) {
        self.balance = data.balance
      })
    },
  },
}
</script>
