<template>
  <section>
    <table class="table">
      <tr>
        <td>{{ __('ID') }}</td>
        <td>{{ deal.id }}</td>
      </tr>
      <tr>
        <td>{{ __('Type') }}</td>
        <td>{{ deal.type_text }}</td>
      </tr>

      <tr v-if="deal.type == consta.TYPE_SELL" class="text-swiss">
        <td>{{ __('Sell Currency Amount') }}:</td>
        <td>{{ deal.amount_currency }} {{ currency.asset }}</td>
      </tr>
      <tr v-if="deal.type == consta.TYPE_SELL">
        <td>{{ __('Sell Fiat Amount') }}:</td>
        <td>{{ deal.amount_fiat }} {{ fiat.asset }}</td>
      </tr>

      <tr v-if="deal.type == consta.TYPE_BUY">
        <td>{{ __('Buy Currency Amount') }}:</td>
        <td>{{ deal.amount_currency }} {{ currency.asset }}</td>
      </tr>
      <tr v-if="deal.type == consta.TYPE_BUY" class="text-swiss">
        <td>{{ __('Buy Fiat Amount') }}:</td>
        <td>{{ deal.amount_fiat }} {{ fiat.asset }}</td>
      </tr>

      <tr>
        <td>{{ __('Rate') }}</td>
        <td>{{ deal.rate }} {{ fiat.asset }}</td>
      </tr>

      <tr>
        <td>{{ __('Payment System') }}</td>
        <td>{{ payment_system.name }}</td>
      </tr>

      <tr v-if="deal.card_number">
        <td>{{ __(payment_system_type.name) }}</td>
        <td>{{ deal.card_number }}</td>
      </tr>

      <tr v-if="deal.payment_info">
        <td>{{ __('Recipient`s full name') }}</td>
        <td>{{ deal.payment_info }}</td>
      </tr>
      <tr v-if="deal.xpayment_completed_at">
        <td>{{ __('Payment completed At') }}</td>
        <td>{{ deal.xpayment_completed_at }}</td>
      </tr>
      <tr>
        <td>{{ __('Created At') }}</td>
        <td>{{ deal.xcreated_at }}</td>
      </tr>
      <tr>
        <td>{{ __('Updated At') }}</td>
        <td>{{ deal.xupdated_at }}</td>
      </tr>
      <tr>
        <td>{{ __('Status') }}</td>
        <td>{{ deal.status_text }}</td>
      </tr>
    </table>

    <div v-if="deal.type == consta.TYPE_SELL">
      <div v-if="deal.status == consta.STATUS_CREATE" class="btn-group flex-wrap">
        <form v-if="balance >= deal.amount_currency" class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button
            class="btn btn-grow btn-confirm-code"
            data-text="ACCEPT"
            :data-inputs="
              (JSON.stringify(req.payment_accounts))
            "
          >
            {{ __('Accept Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_TRADER_FUNDED" />
          <input type="hidden" name="description" value="Trader funded deal" />
        </form>
        <button v-else class="btn btn-grow" disabled>{{ __('Not enough balance') }}</button>

        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="CANCEL">
            {{ __('Cancel Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_CANCELED_TRADER" />
          <input type="hidden" name="description" value="Trader canceled deal" />
        </form>

        <div v-if="time.to_fund >= 0" class="w-100 mt-3">
          {{ __('You have') }}
          <strong>{{ time.to_fund }} {{ __('minutes') }}</strong>
          {{ __('to respond to the request (Accept or Cancel). Ignoring this deal will hide all your ads.') }}
        </div>
      </div>

      <div v-if="deal.status == consta.STATUS_TRADER_FUNDED">
        <div class="w-100">⏳ {{ __('Payment pending from user') }}</div>
        <div v-if="time.to_complete > 0" class="w-100 mt-3">
          ‼️ {{ __('Automatic cancellation of the deal after') }}
          <strong>{{ time.to_complete }} {{ __('minutes') }}</strong>
        </div>
      </div>

      <div v-if="deal.status == consta.STATUS_PAYMENT_COMPLETED_USER" class="btn-group flex-wrap">
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="COMPLETE">
            {{ __('Complete Sell Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_COMPLETED" />
          <input type="hidden" name="description" value="Trader completed deal" />
        </form>
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="DISPUT">
            {{ __('Open Disput') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_DISPUTED" />
          <input type="hidden" name="description" value="Trader disputed deal" />
        </form>

        <div class="w-100 mt-3">💸 {{ __('Make sure you receive the money and only then confirm') }}</div>
      </div>

      <div v-if="deal.status == consta.STATUS_DISPUTED" class="btn-group flex-wrap">
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="COMPLETE">
            {{ __('Complete Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_COMPLETED" />
          <input type="hidden" name="description" value="Trader completed deal" />
        </form>
      </div>
    </div>

    <div v-if="deal.type == consta.TYPE_BUY">
      <div v-if="deal.status == consta.STATUS_CREATE" class="btn-group flex-wrap">
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="ACCEPT">
            {{ __('Accept Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_TRADER_FUNDED" />
          <input type="hidden" name="description" value="Trader funded deal" />
        </form>
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="CANCEL">
            {{ __('Cancel Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_CANCELED_TRADER" />
          <input type="hidden" name="description" value="Trader canceled deal" />
        </form>

        <div v-if="time.to_fund >= 0" class="w-100 mt-3">
          {{ __('You have') }}
          <strong>{{ time.to_fund }} {{ __('minutes') }}</strong>
          {{ __('to respond to the request (Accept or Cancel). Ignoring this deal will hide all your ads.') }}
        </div>
      </div>

      <div v-if="deal.status == consta.STATUS_TRADER_FUNDED" class="btn-group flex-wrap">
        <form class="me-2 mb-3" :action="deal.status_route" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_token" :value="csrf" />

          <div class="d-flex align-items-center w-100">
            <input class="form-control me-md-1" accept="image/png,image/jpeg" type="file" id="document" name="document" required />
            <button class="btn btn-grow btn-confirm-code" style="white-space: nowrap">
              {{ __('Complete Deal') }}
            </button>
          </div>

          <div class="form-text w-100">
            {{ __('Please attach a picture confirming the transfer. Without it, it will be impossible to confirm the operation') }}
          </div>

          <input type="hidden" name="status" :value="consta.STATUS_PAYMENT_COMPLETED_TRADER" />
          <input type="hidden" name="description" value="Trader completed payment" />
        </form>
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="CANCEL">
            {{ __('Cancel Deal') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_CANCELED_TRADER" />
          <input type="hidden" name="description" value="Trader canceled deal" />
        </form>

        <div class="w-100 mt-3">
          💸
          {{ __('Make a payment using the specified details, then click the') }}
          "{{ __('Complete Deal') }}"
        </div>
        <div v-if="time.to_complete > 0" class="w-100 mt-3">
          ‼️ {{ __('Automatic cancellation of the deal after') }}
          <strong>{{ time.to_complete }} {{ __('minutes') }}</strong>
        </div>
      </div>

      <div v-if="deal.status == consta.STATUS_PAYMENT_COMPLETED_TRADER" class="btn-group flex-wrap">
        <form class="me-2" :action="deal.status_route" method="post">
          <input type="hidden" name="_token" :value="csrf" />
          <button class="btn btn-grow btn-confirm-code" data-text="DISPUT">
            {{ __('Open Disput') }}
          </button>
          <input type="hidden" name="status" :value="consta.STATUS_DISPUTED" />
          <input type="hidden" name="description" value="Trader disputed deal" />
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function () {
    return {
      deal: {
        type: -1,
        status: -1,
      },
      currency: {},
      fiat: {},
      req: {},
      payment_system: {},
      payment_system_type: {},
      time: {},
      balance: {},
      consta: [],
      csrf: '',
    }
  },
  mounted() {
    var self = this
    self.fetch()

    setInterval(function () {
      self.fetch()
    }, 10 * 1000)
  },
  methods: {
    __(str) {
      return tt[str] || str
    },
    fetch() {
      var self = this

      $.get({ url: urls.detaisInfo, cache: false }, { _: $.now() }, function (data) {
        self.deal = data.deal
        self.req = data.req
        self.payment_system_type = data.payment_system_type
        self.payment_system = data.payment_system
        self.time = data.time
        self.balance = data.balance
        self.consta = data.consta
        self.csrf = data.csrf
      })
    },
  },
}
</script>

<style scoped>
[data-text='COMPLETE'] {
  background: #4caf50;
  border-color: #4caf50;
}
[data-text='COMPLETE']:hover {
  background: #087f23;
  border-color: #087f23;
}
[data-text='DISPUT'] {
  background: #f44336;
  border-color: #f44336;
}
[data-text='DISPUT']:hover {
  background: #ba000d;
  border-color: #ba000d;
}
</style>
