<template>
  <div class="col-12 messages">
    <div v-for="unit in messages" v-bind:key="unit.id" class="row">
      <div class="message">
        <div class="user-block mt-3 mb-1">
          <strong class="sender_name">{{ unit.sender_name }}</strong>
          <span class="created">{{ unit.xcreated_at }}</span>
        </div>

        <a v-if="unit.attachment_type" target="_blank" :href="unit.attachment">
          <img :src="unit.attachment" class="img-thumbnail w-25" />
        </a>
        <p v-else>{{ unit.msg }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      messages: [],
    };
  },
  mounted() {
    var self = this;
    self.fetch();

    setInterval(function () {
      self.fetch();
    }, 5 * 1000);
  },
  methods: {
    fetch() {
      var self = this;

      $.get({url: urls.dealMessages, cache: false}, {"_": $.now()}, function (data) {
        self.messages = data.messages;
      });
    },
  },
};
</script>
