<template>
  <table class="table">
    <thead>
      <tr>
        <th v-for="unit in dealsTh" v-bind:key="unit">{{ unit }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="unit in deals" v-bind:key="unit.id">
        <td>
          <strong>{{ unit.id }}</strong>
        </td>
        <td :class="'type-' + unit.type">{{ unit.type_text }}</td>
        <td>{{ unit.currency.name }}</td>
        <td>{{ unit.amount_currency }}</td>
        <td>{{ unit.fiat.name }}</td>
        <td>{{ unit.amount_fiat }}</td>
        <td><div class="badge badge-ps" v-bind:style="{color: unit.payment_system.color, backgroundColor: unit.payment_system.bg_color}">{{ unit.payment_system.name }}</div></td>
        <td :class="'status status-' + unit.status">{{ unit.status_text }}</td>
        <td class="created_at">{{ unit.xcreated_at }}</td>
        <td>
          <div class="btn-group mb-3">
            <a :href="unit.link" class="btn btn-outline-secondary">
              <i class="bi bi-info-circle"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data: function () {
    return {
      dealsTh: dealsTh,
      deals: [],
    };
  },
  mounted() {
    var self = this;
    self.fetch();

    setInterval(function () {
      self.fetch();
    }, 10 * 1000);
  },
  methods: {
    fetch() {
      var self = this;

      $.get({ url: urls.deals, cache: false }, { _: $.now() }, function (data) {
        self.types = data.types;
        self.deals = data.deals;
      });
    },
  },
};
</script>
