<template>
  <div>
    <div class="card p-3">
      <h5>{{ __('Completed Deals') }}</h5>

      <table>
        <tr><td>{{ __('Sell Today') }}:</td> <td class="text-end">{{ completed_sell }}</td></tr>
        <tr><td>{{ __('Buy Today') }}:</td> <td class="text-end">{{ completed_buy }}</td></tr>
        <tr><td colspan="2"><hr class="mt-1 mb-0"></td></tr>
        <tr><td>{{ __('Sell Total') }}:</td> <td class="text-end">{{ completed_sell_total }}</td></tr>
        <tr><td>{{ __('Buy Total') }}:</td> <td class="text-end">{{ completed_buy_total }}</td></tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      completed_sell_total: '',
      completed_sell: '',
      completed_buy_total: '',
      completed_buy: '',
    }
  },
  mounted() {
    var self = this
    self.fetch()

    setInterval(function () {
      self.fetch()
    }, 60 * 1000)
  },
  methods: {
    __(str) {
      return tt[str] || str
    },

    fetch() {
      var self = this

      $.get({ url: urls.dealstat, cache: false }, { _: $.now() }, function (data) {
        self.completed_sell_total = data.completed_sell_total
        self.completed_sell = data.completed_sell
        self.completed_buy_total = data.completed_buy_total
        self.completed_buy = data.completed_buy
      })
    },
  },
}
</script>
