<template>
  <div id="toast-container">
    <div v-if="toasts.length" class="btn btn-grow" @click="removeAllToasts()">
      {{ __("Close All") }}
    </div>

    <div
      v-for="unit in toasts"
      v-bind:key="unit.id"
      class="toast toast-info d-block"
    >
      <button
        type="button"
        class="toast-close-button"
        role="button"
        @click="removeToast(unit.id)"
      >
        ×
      </button>
      <div class="toast-message">
        <a :href="unit.link" @click="removeToast(unit.id)"></a
        ><span v-html="unit.text"></span>
      </div>
    </div>

    <audio id="alarmSound">
      <source src="/sound/alarm1.mp3" type="audio/mp3" />
    </audio>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      toasts: [],
    };
  },
  mounted() {
    var self = this;
    self.initToasts();
    self.fetch(1);

    setInterval(function () {
      self.fetch(0);
    }, 10 * 1000);
  },
  methods: {
    __(str) {
      return tt[str] || str;
    },

    removeAllToasts() {
      this.toasts = [];
      this.storeToasts();
    },

    restoreToasts() {
      if (localStorage.getItem("toasts")) {
        this.toasts = JSON.parse(localStorage.getItem("toasts"));
      } else {
        this.toasts = [];
        this.storeToasts();
      }
    },

    storeToasts() {
      localStorage.setItem("toasts", JSON.stringify(this.toasts));
    },

    removeToast(id) {
      for (var i in this.toasts) {
        if (this.toasts[i].id == id) {
          this.toasts.splice(i, 1);
        }
      }
      this.storeToasts();
    },

    initToasts() {
      this.restoreToasts();
    },

    addToasts(updatedDeals, first = false) {
      if (updatedDeals.length) {
        if (!first) {
          alarmSound.play();
        }
      }

      var array = JSON.parse(localStorage.getItem("toasts"));

      for (var i in updatedDeals) {
        array.push(updatedDeals[i]);
      }
      const arrayUniq = [
        ...new Map(array.map((item) => [item["id"], item])).values(),
      ];

      this.toasts = arrayUniq;

      this.storeToasts();
    },

    fetch(first = false) {
      var self = this;

      $.get({url: urls.psInfo, cache: false}, {"_": $.now()}, function (data) {
        self.addToasts(data.updatedDeals, first);
      });
    },
  },
};
</script>
